{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["plugin:react/recommended"],
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "no-unused-vars": 2,
    "no-console": 0,
    "no-restricted-syntax": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
