:root {
  --gray: rgba(0, 0, 0, 0.15);
  --brandColor: rgb(9, 139, 140);
  --bodyColor: rgb(47, 48, 52);
  --fontFamily: LLCircularWeb, Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
}
html {
  font-family: var(--fontFamily);
  font-size: 14px;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-weight: 400;
}

.ladingPage {
  width: 100%;
}
